echo "# JS_BACK_Roman-master" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/slomorr/JS_BACK_Roman-master.git
git push -u origin main